body {
    background-color: rgba(0, 0, 0, 0.1) !important; 
    margin: 0px auto; 
}

h1 {
    font-family:'Oswald', sans-serif;
    font-weight:700;
    font-size:55px;
    color: #ECECEC;
}

h2 {
    font-family:'Oswald', sans-serif;
    font-weight:600;
    font-size:150%;
    color: #ECECEC;
}

h3 {
    font-family:'Oswald', sans-serif;
    font-weight:700;
    font-size:120%;
    color: #ECECEC;
}

.lheaderbox {
    width:358px;
    height:94px;
    position:absolute;
    top:0px;
    left:533px;
    color:white;
    background-color: #0f1923;
}

.rheaderbox {
    width:358px;
    height:94px;
    position:absolute;
    top:0px;
    left:1029px;
    color:white;
    background-color: #0f1923;
}

#team0_name_box {
    width:160px;
    height:22px;
    position:absolute;
    top:87px;
    left:533px;
    color:white;
    background-color: #5baa95;
}

#team1_name_box {
    width:160px;
    height:22px;
    position:absolute;
    top:87px;
    left:1227px;
    color:white;
    background-color: #d85d56;
}

.topcharimg {
    width:50px;
    height:auto;
    position:absolute;
    top:20px;
}

#lcharimg1 {
    left:17px;
}

#lcharimg2 {
    left:78px;
}

#lcharimg3 {
    left:139px;
}

#lcharimg4 {
    left:200px;
}

#lcharimg5 {
    left:261px;
}

#rcharimg1 {
    right:17px;
}

#rcharimg2 {
    right:78px;
}

#rcharimg3 {
    right:139px;
}

#rcharimg4 {
    right:200px;
}

#rcharimg5 {
    right:261px;
}

.dead {
    opacity: 70%;
    filter:grayscale(60%);
}

#score_box {
    width:139px;
    height:23px;
    position:absolute;
    top:71px;
    left:890px;
    color:white;
    background-color: #0f1923;
}

.roundbox {
    width:147px;
    height:22px;
    position:absolute;
    top:87px;
    left:886px;
    color:#161a26;
    background-color: white;
}

.box {
    width: 234px;
    height: 76px;
    position:absolute;
    color: white;
    background-color:#0f1923;
}

#boxl1 {
    top:634px;
    left:22px;
}

#boxl2 {
    top:720px;
    left:22px;
}

#boxl3 {
    top:805px;
    left:22px;
}

#boxl4 {
    top:891px;
    left:22px;
}

#boxl5 {
    top:976px;
    left:22px;
}

#boxr1 {
    top:634px;
    left:1663px;
}

#boxr2 {
    top:720px;
    left:1663px;
}

#boxr3 {
    top:805px;
    left:1663px;
}

#boxr4 {
    top:891px;
    left:1663px;
}

#boxr5 {
    top:976px;
    left:1663px;
}

.lcharimg {
    position:absolute;
    top:0px;
    left:0px;
}

.lplayername {
    position:absolute;
    top:2px;
    left:35%;
}

.rcharimg {
    position:absolute;
    top:0px;
    right:0px;
}

.rplayername {
    position:absolute;
    top:2px;
    right:35%;
}

#lteamlogo {
    max-height:94px;
    width: auto;
    opacity:15%;
    position:absolute;
    top: 0px;
    left:0px;
}

#rteamlogo {
    max-height:94px;
    width: auto;
    opacity:15%;
    position: absolute;
    top:0px;
    right:0px;
}

#team0_name {
    position: relative;
    bottom: 2.5px;
}

#team1_name {
    position: relative;
    bottom: 2.5px;
}

.progress {
    position:relative;
    top:76px;
    height:10px;
}

.defenders {
    background-color: #5baa95;
}

.attackers {
    background-color: #d85d56;
}