body {
    background-color: rgba(0, 0, 0, 0.1) !important; 
    margin: 0px auto; 
}

h1 {
    font-family:'Oswald', sans-serif;
    font-weight:700;
    font-size:55px;
    color: #ECECEC;
}

h2 {
    font-family:'Oswald', sans-serif;
    font-weight:600;
    font-size:150%;
    color: #ECECEC;
}

h3 {
    font-family:'Oswald', sans-serif;
    font-weight:700;
    font-size:120%;
    color: #ECECEC;
}

.lheaderbox {
    width:260px;
    height:74px;
    position:absolute;
    top:0px;
    left:632px;
    color:white;
    background-color: #0f1923;
    border-radius: 0px 0px 0px 51px;
}

.lheader_background {
    width:260px;
    background-image: url('test_team0logo.png');
    background-size:170px;
    background-position:70% 50%;
    background-repeat:no-repeat;
    opacity:15%;
}

.divider {
    width: 2px;
    height: 64.5px;
    position: absolute;
    top:4px;
    border-radius: 25px;
}

#defenders_line {
    background-color:#d85d56;
    right:-5px;
}

#attackers_line {
    background-color:#5baa95;
    left:-5px;
}

.attackers_line {
    background:linear-gradient(45deg,#ffffff 49%,white 50%,#ffffff 51%);
}

.rheaderbox {
    width:260px;
    height:74px;
    position:absolute;
    top:0px;
    left:1029px;
    color:white;
    background-color: #0f1923;
    border-radius: 0px 0px 51px 0px
}

.rheader_background {
    width:260px;
    background-image: url('test_team1logo.png');
    background-size:170px;
    background-position:30% 50%;
    background-repeat:no-repeat;
    opacity:15%;
}

.lheaderbox_side {
    width:88px;
    height:0px;
    position:absolute;
    border-top: 59px solid #0f1923;
	border-left: 55px solid transparent;
    top:0px;
    left:592px;
    color:white;
}

.rheaderbox_side {
    width:302px;
    height:0px;
    border-top: 57px solid #0f1923;
	border-right: 55px solid transparent;
    position:absolute;
    top:0px;
    left:1029px;
    color:white;
}

#round_box {
    position:absolute;
    left:924px;
    top:7px;
    width:72px;
    height:9px;
}

#roundCount {
    color:#ECECEC;
    letter-spacing:2px;
    font-size:80%;
}

#team0_name_box {
    width:160px;
    height:22px;
    position:absolute;
    top:87px;
    left:533px;
    color:white;
    background-color: #5baa95;
}

#team1_name_box {
    width:160px;
    height:22px;
    position:absolute;
    top:87px;
    left:1227px;
    color:white;
    background-color: #d85d56;
}

.spike {
    width: 52px;
    height: auto;
    position:absolute;
    top:80px;
    left:934px;
    transition: width 1s, height 1s, top 1s, left 1s;
}

#planted {
    width: 78px;
    height: auto;
    position:absolute;
    top:28px;
    left:921px;
    filter:invert(51%) sepia(81%) saturate(502%) hue-rotate(314deg) brightness(84%) contrast(100%);
    transition: width 1s, height 1s, top 1s, left 1s;
}

.dead {
    opacity: 70%;
    filter:grayscale(60%);
}

.score_box {
    width:139px;
    height:3px;
    position:absolute;
    top:71px;
    left:890px;
    color:white;
    background-color: #0f1923;
}

.mid_box {
    width:88px;
    height:3px;
    position:absolute;
    top:71px;
    left:916px;
    color:white;
    background-color: #0f1923;
    transition:height 1s, top 1s;
}

#hide_timer {
    top:28px;
    position:absolute;
    height:46px;
    transition:height 1s, top 1s;
}

.box {
    width: 234px;
    height: 76px;
    position:absolute;
    color: white;
    background-color:rgba(15, 25, 35, 0.9);
}

#boxl1 {
    top:634px;
    left:22px;
}

#boxl2 {
    top:720px;
    left:22px;
}

#boxl3 {
    top:805px;
    left:22px;
}

#boxl4 {
    top:891px;
    left:22px;
}

#boxl5 {
    top:976px;
    left:22px;
}

#boxr1 {
    top:634px;
    left:1663px;
}

#boxr2 {
    top:720px;
    left:1663px;
}

#boxr3 {
    top:805px;
    left:1663px;
}

#boxr4 {
    top:891px;
    left:1663px;
}

#boxr5 {
    top:976px;
    left:1663px;
}

.lcharimg {
    max-height:76px;
    width:auto;
    position:absolute;
    top:0px;
    left:0px;
}

.lplayername {
    position:absolute;
    top:0px;
    left:76px;
    font-size:21px;
    line-height:31px;
}

.rcharimg {
    max-height:76px;
    width:auto;
    position:absolute;
    top:0px;
    right:0px;
}

.rplayername {
    position:absolute;
    top:0px;
    right:76px;
    font-size:21px;
    line-height:31px;
}

#lteamlogo {
    max-height:60px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-66%, -50%);
}

#rteamlogo {
    max-height:60px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 66%;
    transform: translate(66%, -50%);
}

#team0_name {
    position: absolute;
    top:23px;
    left:66px;
}

#team1_name {
    position: absolute;
    top:23px;
    right:66px;
}

.progress {
    position:relative;
    border-radius:0px;
    top:45px;
    height:31px;
    width:158px;
    background-color: #0f1923;
}

.progress-defenders {
    left:76px;
}

.defenders {
    background-color: #5baa95;
}

.attackers {
    background-color: #d85d56;
}

.shield {
    width:20px;
    height:auto;
    position:absolute;
    top:50px;
}

.shield-left {
    left:165px;
}

.shield-right {
    right:165px;
}

.shield-text {
    position:absolute;
    top:52px;
    font-size:10px;
    line-height:14.82px;
    text-align:center;
}

.shield-text-left {
    left:170px;
}

.shield-text-right {
    right:170px;
}

.health {
    font-size:25px;
    position: absolute;
    top:40px;
    line-height:38px;
}

.health-left {
    left: 189px;
}

.health-right {
    right: 189px;
}